body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #2e2a2a;
  color: #fff;
}

/* SIDEBAR */
.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  width: 260px;
  height: 100vh;
  background: #1f1c1c;
  text-align: center;
  padding-top: 20px;
}

.profile-img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 3px solid #00e5ff;
}

.sidebar h2 {
  color: #00e5ff;
  margin: 15px 0;
  font-size: 18px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  padding: 15px;
  cursor: pointer;
  color: #ccc;
}

.sidebar ul li i {
  margin-right: 10px;
  color: #00e5ff;
}

.sidebar ul li:hover {
  background: #2e2a2a;
  color: #fff;
}

/* CONTENT */
.content {
  margin-left: 280px;
  padding: 40px;
}

.content h1 span {
  color: #00e5ff;
}

.subtitle {
  margin-bottom: 40px;
  color: #ccc;
}

section {
  margin-bottom: 40px;
}

section h2 {
  color: #00e5ff;
  border-bottom: 1px dashed #555;
  padding-bottom: 10px;
}
