* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #2f2a2a;
  color: #eaeaea;
}

/* LAYOUT */
.layout {
  display: flex;
}

/* SIDEBAR */
.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar {
    position: fixed;      /* MOST IMPORTANT */
    top: 0;
    left: 0;
    width: 260px;         /* same width everywhere */
    height: 100vh;        /* full screen height */
    background: #1f1f1f;
    overflow-y: auto;     /* scroll inside sidebar if needed */
}

/* Push main content to right */
.main-content {
    margin-left: 260px;
    padding: 30px;
}

.profile-box {
  width: 140px;
  height: 140px;
  margin: 0 auto 15px;
  border-radius: 50%;
  overflow: hidden;
  border: 3px solid #00e5ff;
}

.profile-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.sidebar-name {
  text-align: center;
  color: #00e5ff;
  margin-bottom: 20px;
}

.sidebar nav a {
  display: block;
  padding: 10px;
  color: #ddd;
  text-decoration: none;
  border-bottom: 1px solid #333;
}

.sidebar nav a:hover {
  background: #333;
  color: #00e5ff;
}

/* CONTENT */
.content {
  margin-left: 260px;
  padding: 30px;
  width: 100%;
}

section {
  margin-bottom: 40px;
}

h1 span {
  color: #00e5ff;
}

h2 {
  color: #00e5ff;
  margin-bottom: 10px;
}
