* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  display: flex;
  background: #f5f7fb;
  color: #111;
}

/* SIDEBAR */
.sidebar {
  width: 260px;
  background: #0f0f0f;
  color: #fff;
  position: fixed;
  height: 100vh;
  padding: 25px;
}

.profile img {
  width: 90px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.profile h2 {
  font-size: 18px;
}

.profile p {
  font-size: 13px;
  opacity: 0.8;
}

nav a {
  display: block;
  margin: 15px 0;
  color: #bbb;
  text-decoration: none;
}

nav a.active,
nav a:hover {
  color: #00aaff;
}

/* CONTENT */
.content {
  margin-left: 260px;
  width: calc(100% - 260px);
}

/* SECTIONS */
.section, .hero {
  padding: 70px;
}

.hero h1 span {
  color: #0066ff;
}

.hero-buttons {
  margin-top: 25px;
  display: flex;
  gap: 20px;
}

.btn {
  padding: 12px 26px;
  border-radius: 30px;
  text-decoration: none;
  font-weight: 600;
}

.primary {
  background: #0066ff;
  color: #fff;
}

.outline {
  border: 2px solid #0066ff;
  color: #0066ff;
}

.social-icons {
  margin-top: 20px;
}

.social-icons a {
  font-size: 26px;
  margin-right: 15px;
  color: #0066ff;
}

/* CARDS */
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
}

.card {
  background: #fff;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 8px 25px rgba(0,0,0,0.05);
}

/* DARK SECTION */
.dark {
  background: linear-gradient(90deg,#000,#222);
  color: #fff;
}

/* CERTS */
.cert-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px,1fr));
  gap: 25px;
}

.cert-grid img {
  width: 100%;
  border-radius: 12px;
}

/* CONTACT */
form {
  max-width: 420px;
}

input, textarea {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
}

button {
  padding: 12px;
  background: #0066ff;
  color: #fff;
  border: none;
  width: 100%;
}

/* REVEAL */
.reveal {
  opacity: 0;
  transform: translateY(40px);
  transition: 0.8s ease;
}

.reveal.show {
  opacity: 1;
  transform: translateY(0);
}
