body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #2e2a2a;
  color: #fff;
}

/* SIDEBAR */
.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  width: 260px;
  height: 100vh;
  background: #1e1e1e;
  padding: 20px 0;
}

.sidebar nav {
  margin-top: 30px;
}

.sidebar nav a {
  display: flex;               /* ⭐ MAGIC LINE */
  align-items: center;         /* ⭐ aligns icons vertically */
  gap: 14px;                   /* space between icon & text */

  padding: 12px 25px;
  color: #ddd;
  text-decoration: none;
  font-size: 15px;
  transition: all 0.3s ease;
}

.sidebar nav a i {
  width: 20px;                 /* ⭐ forces all icons same line */
  text-align: center;
  font-size: 16px;
}

.sidebar nav a:hover,
.sidebar nav a.active {
  background: #00e5ff;
  color: #000;
  border-radius: 6px;
}


/* CONTENT */
.content {
  margin-left: 280px;
  padding: 40px;
}

.content h1 span {
  color: #00e5ff;
}

.subtitle {
  margin-bottom: 40px;
  color: #ccc;
}

section {
  margin-bottom: 40px;
}

section h2 {
  color: #00e5ff;
  border-bottom: 1px dashed #555;
  padding-bottom: 10px;
}
