body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #2e2a2a;
  color: #fff;
}

/* Sidebar */
.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  width: 260px;
  height: 100vh;
  background: #1e1e1e;
  padding: 20px 15px;
  box-sizing: border-box;
}

/* Profile Section */
.profile {
  text-align: center;
  margin-bottom: 30px;
}

.profile img {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  border: 3px solid #00e5ff;
  object-fit: cover;
}

.profile h2 {
  color: #00e5ff;
  font-size: 16px;
  margin-top: 12px;
}

/* Menu */
.menu {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.menu a {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 10px 14px;
  color: #ddd;
  text-decoration: none;
  border-radius: 6px;
  font-size: 15px;
}

.menu a:hover,
.menu a.active {
  background: #00e5ff;
  color: #000;
}

/* Icons */
.menu .icon {
  width: 22px;
  text-align: center;
  font-size: 16px;
}

/* CONTENT */
.content {
  margin-left: 280px;
  padding: 40px;
}

.content h1 span {
  color: #00e5ff;
}

.subtitle {
  margin-bottom: 40px;
  color: #ccc;
}

section {
  margin-bottom: 40px;
}

section h2 {
  color: #00e5ff;
  border-bottom: 1px dashed #555;
  padding-bottom: 10px;
}
.main-content {
    margin-left: 260px;   /* SAME as sidebar width */
    padding: 30px;
}
